
<ejs-richtexteditor #rte id='defaultRTE'
[(value)]='v'
>

<!-- <ng-template #valueTemplate>
  The sample is added to showcase **markdown editing**.
  Type or edit the content and apply formatting to view markdown formatted content.
  We can add our own custom formation syntax for the Markdown formation, [sample link](https://ej2.syncfusion.com/home/).
  The third-party library <b>Marked</b> is used in this sample to convert markdown into HTML content.
</ng-template> -->

</ejs-richtexteditor>

<!-- <ion-button (click)="load()">Load</ion-button>
[(value)]='value'
<ion-button (click)="save()">Save</ion-button> -->
